body {
    height: 500px;
    width: 600px;
}

.main {
    height: 100%;
    width: 100%;
}

.left-side-content {
    width: 35%;
}

.small-font {
    font-size: 11px;
}

.form-margin {
    margin: 10px 5px;
}

.flex-col-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.flex-row-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-item {
    flex: 0 0 auto;
}

.btn-name-width {
    width: 150px;
}

.menu-margin-left {
    margin: 0 0 0 5px;
}

.menu-height {
    height: 80%;
}

.sub-contents-height {
    height: 90%;
}

.overflow-item {
    overflow-y: auto;
    overflow-x: hidden;
}

.error-msg-color {
    color: #ff0000;
}

.pink-border-bottom {
    border-bottom: 1px solid #ff69b4;
}

.left-col {
    /*margin: 5px 0;*/
    /*border: 1px solid #ff69b4*/
}

.row-margin {
    margin: 5px 0;
}

.no-decoration {
    text-decoration: none;
    color: #000000;
}